<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #roomForm="ngForm">
      <div class="form-group">
        <label for="roomNumber">Room Number</label>
        <input type="text" [(ngModel)]="newRoom.roomNumber"
               class="form-control"
               id="roomNumber"
               name="roomNumber"
               placeholder="Enter new room number"
               required #roomNumber="ngModel">
      </div>
      <div [hidden]="!roomNumber.pristine" class="alert alert-danger">Room number is required</div>
      <div class="form-group">
        <label for="numberOfSingleBed">Number of single bed</label>
        <input type="text" [(ngModel)]="newRoom.numberOfSingleBed"
               class="form-control"
               id="numberOfSingleBed"
               name="numberOfSingleBed"
               placeholder="Enter number of single bed"
               required #numberOfSingleBed="ngModel">
        <div [hidden]="!numberOfSingleBed.pristine" class="alert alert-danger">Number of single bed is required</div>
      </div>
      <div class="form-group">
        <label for="numberOfDoubleBed">Number of double bed</label>
        <input type="text" [(ngModel)]="newRoom.numberOfDoubleBed"
               class="form-control"
               id="numberOfDoubleBed"
               name="numberOfDoubleBed"
               placeholder="Enter number of double bed"
               required #numberOfDoubleBed="ngModel">
        <div [hidden]="!numberOfDoubleBed.pristine" class="alert alert-danger">Number of double bed is required</div>
      </div>
      <button type="submit" [disabled]="!roomForm.form.valid"
              class="btn btn-info">Add room</button>
    </form>
  </div>
</div>
